<!DOCTYPE html>

<html>
	<head>
		<title>Synesthesia</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="{{ url_for('static', filename='jquery-1.7.2.min.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='syn.js')}}" type="text/javascript"></script>
	</head>

	<header>
		<h1>Synesthesia</h1>
		<h2>Colors as Concepts.</h2>
	</header>

	<body>
		<blockquote id='explanation'>This project takes an image and replaces the colors with words that are associated with those colors. For example, red is associated with blood, strawberries, and stop. So, a red patch in a picture might have those words</blockquote>

		<div id='appbox'>
			<form id='parameterbox' enctype='multipart/form-data' action='upload' method='POST'>
				<div id='upload'><p>Upload your image</p><input type='file' name='photo'></div>
				<div id='colors'><p>Colors:</p><ul id='color-list'></ul></div>
				<div id='font'><p>Font:</p> 
					<select id='font'>
						
					</select>
				</div>
				<input type="submit" value="Submit">
			</form>

		</div>
	</body>

</html>
